<footer class="footer">
  <div class="container">
    <div class="footer__contacts">
      <address class="address">
        <p>Projektbüro:</p>
        <a href="https://goo.gl/maps/JefKKjR9aD9N2w4H9" class="address__link" target="_blank">
          Buxheimer Str. 95a
        </a>
      </address>

      <div class="contact">
        <p>Kontakt:</p>
        <div class="contact__list">
          <a href="tel:08331.8339053" class="contact__tel">08331. 8339053</a>
          <a href="tel:01573412728" class="contact__tel">01573 4127282</a>
        </div>
      </div>

      <div class="email">
        <p>E-Mail:</p>
        <a href="mailto:buergerfuerbuerger@mail.de">buergerfuerbuerger@mail.de</a>
      </div>
    </div>
  </div>
</footer>